<h2>My heroes</h2>
<ul class="heroes">
  <!-- iterating through the list of heroes with repeater directive inside host element -->
  <!-- event binding:user clicks onSelect(hero) method handler gets executed -->
  <!-- class binding to add and remove a CSS class conditionally -->
  <li *ngFor ='let hero of heroes'
   class="badge"
   (click)="onSelect(hero)"
   [class.selected]='hero === selectedHero'> 
    {{hero.name}} , {{hero.id}}
   </li>
</ul>


<!-- HeroDetailComponent  -->

<!--  HeroesComponent.selectedHero binds to the element's hero property of the target element -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
